{% extends "base.html.twig"%}
{% block body%}
<div class="card text-white bg-success mb-3" style="width: 50%;
  margin: 20px auto;">
  <div class="card-header">Notification</div>
  <div class="card-body">
    <h4 class="card-title">Sucess!</h4>
    <p class="card-text">The transaction you just made was successful.</p>
  </div>
</div>

{% endblock %}